@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";

.form{
	max-width: 400px;
}

.message{
	position: fixed;
	bottom: 1rem;
	left: 1rem;
	right: 1rem;
	display: none;
		.alert{
			margin: 0;
		}
}

.progress{
	height: 30px;
	border-radius: 20px;
}

.bank-logo{
	height: 30px;
	max-width: 280px;
}

#current-value{
	text-align: right;
}